!!! 5
%html
  %head
    %meta{ content: 'IE=edge', http: { equiv: 'X-UA-Compatible' } }
    %meta{ charset: 'utf-8' }
    %meta{ content: 'width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no', name: 'viewport' }

    %title
      = current_page.data.title || "Middleman"

    %link{ rel: 'icon', href: 'images/favicon.png', type: 'image/x-icon' }

    %link{ href: 'https://fonts.googleapis.com/css?family=Raleway:400,700|Rokkitt:400,700', rel: 'stylesheet', type: 'text/css' }
    = javascript_include_tag 'https://code.jquery.com/jquery-3.1.1.min.js'
    = javascript_include_tag 'https://maps.googleapis.com/maps/api/js?key=AIzaSyB_KiR8lPn_9IIokRTeEkSkVizqVxUEjoQ'
    = stylesheet_link_tag :site
    = javascript_include_tag :all

  %body{ class: page_classes }
    %nav
      = link_to '/', class: 'logo' do
        = partial 'logo'
      .links
        = link_to 'The Venue', '#', class: 'link scroll', data: { anchor: 'venue' }
        = link_to 'Lodging', '#', class: 'link scroll', data: { anchor: 'lodging' }
        = link_to 'Registry', '#', class: 'link scroll'
        = link_to 'RSVP', 'https://docs.google.com/forms/d/e/1FAIpQLSdlM_sFthDq0tHJtlYM4khhgnhe6OCOTxUIff9lF--zMtRobQ/viewform', class: 'link'
    .content
      = yield
